$theme-color: #74a0e0;
$theme-light: lighten($theme-color, 25%);
$theme-dark: darken($theme-color,25%);

@mixin reset{
  margin:0;
  padding:0;
}

@mixin display($type){
  display: $type;
}

@mixin flex($direction){
  @include display(flex);
  flex-direction: $direction;
}
body{
  @include reset;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}

header{
  background-color: $theme-light;
  max-height:60px;
  @include flex(row);
  justify-content: space-between;
  p span {
    padding-left: 10px;
  }
  .logo{
      padding-top: 2px;
      max-width: 50px;
      max-height: 50px;
      padding-left: 10px;
 }
  h2{
    padding-right: 10px;
    color: $theme-dark;
  }
}

button:disabled,
button[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}
#instruction{
    padding-left: 20px;
    font-size: 14px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px){
    .sidenav {padding-top: 5px;}
    .sidenav a {font-size: 18px;}
}

#task-form{ //add button textbox
  //@include flex(row);
  input{
    float: left;
    //flex:1;
    padding: 7px;
    //padding-right: 0px;
    box-sizing: border-box;
    border: 1px solid $theme-color;
    width:80%;
    //  margin:0;
  }
  input:focus{
    background-color:antiquewhite;
    outline: none;
  }
  button{
    background-color: #4CAF50;
    border: 0.5px solid transparent;
    color: white;
    padding: 7px;

    //display: inline-block;
    font-size: 14px;
    width:20%;
  }
  button:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

#task-list{
  @include reset;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  li{
    border-bottom: 0.5px solid #383735;//#cccccc;

    .task-container{
        //background: linear-gradient(to right, #f7eca3, #fcf5c7);
        background-color: #ddffdd;
        border-left: 6px solid #4CAF50;

        @include flex(row);
        justify-content: space-between;
        align-items: center;

        .task-name{
             padding: 1em;
        }
        .task-buttons{
            @include flex(row);
            button{
              width: 48px;
              height: 48px;
              font-size: 1em;
              background-color:transparent;
              border: 1px solid transparent;
              color: black;
            }
            button:focus{
              outline: none;
              background-color: white;
            }
            button:active{
              background-color: #fff;
            }

            button#canceledit{
              font-size:12px;
              visibility:hidden;


            }
          }
      }
  }
  li[data-status="true"]{
    .task-name{
      text-decoration: line-through;
      opacity: 0.5;
      //background-color: lightgray;
    }
    button[data-function="status"]{
      color:green;
    }
  }
}
