$theme-color: #74a0e0;
$theme-light: lighten($theme-color, 25%);
$theme-dark: darken($theme-color,25%);

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f7965d;//#02f992;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

@mixin reset{
  margin:0;
  padding:0;
}

@mixin display($type){
  display: $type;
}

@mixin flex($direction){
  @include display(flex);
  flex-direction: $direction;
}
body{
  @include reset;
  background-color: #ffffff;

}
header{
  background-color: $theme-light;
  padding-bottom: 5px;
  //@include flex(row);
  //justify-content: space-between;
  text-align: center;
  .logo{
      padding-top: 5px;

      max-width: 100px;
      max-height: 100px;
      display: block;
    margin-left: auto;
    margin-right: auto
  }
  h1{
    margin: 0;
    padding: 5px;
    padding: 5px;
    color: $theme-dark;
  }
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


#task-form{ //add button textbox
  //@include flex(row);
  input{
    flex:1;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid $theme-color;
  }
  input:focus{
    background-color: antiquewhite;
    outline: none;

  }
  button{
    max-width: 200px;
    padding:5px;
    background-color: $theme-dark;
    color:white;
  }
}

#task-list{
  @include reset;
  list-style: none;
  width: 100%;

  li{
    border-bottom: 0.5px solid #383735;//#cccccc;
    .task-container{
      //background: linear-gradient(to right, #f7eca3, #fcf5c7);
      background-color: #ddffdd;
      border-left: 6px solid #4CAF50;
      @include flex(row);
      justify-content: space-between;

      align-items: center;
      .task-name{
           padding: 1em;
      }
      .task-buttons{
          @include flex(row);
          button{
              width: 48px;
              height: 48px;
              font-size: 1em;
              background-color: transparent;
              border: 1px solid transparent;

          }
          button:focus{
              outline: none;
              background-color: #cccccc;
          }
          button[data-function="status"]{
            font-size:1em;
          }
      }
    }
  }
  li[data-status="true"]{
    .task-name{
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
