doctype html
html
  head
    title To Do List
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='./styles/styles.css')
  body
    .app
      header
        .row
          .logo
            img.logo(src='./images/logo.png')
          h1 To Do
        form#task-form
          .row
            input#task-input(type='text', placeholder='Add a Task')
            button#task-add(type='submit') Add
    main

      p To see each type of tasks, click on the buttons inside the tabbed menu:
      .tab
        button#defaultOpen.tablinks(onclick="openCity(event, 'Tasks')") Tasks
        button.tablinks(onclick="openCity(event, 'Completed')") Completed
        button.tablinks(onclick="openCity(event, 'Trash')") Trash
      #Tasks.tabcontent
        h3 Inprogress Tasks
        p Tasks are not completed storing in this tab.
        ul#task-list
      #Completed.tabcontent
        h3 Completed Tasks
        p Tasks are completed storing in this tab.
      #Trash.tabcontent
        h3 Trash
        p Tasks are deleted storing in this tab.
      script.
        function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    script(src='./js/main.js')
