doctype html
html
  head
    title To Do List
    meta(name='viewport',content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='./styles/styles.css')
  body
    .app
      header
        .row
          .logo
            img.logo(src='./images/logo.png')
          h1 To Do
        form#task-form
          .row
            input#task-input(type='text', placeholder='+ Add a Task')
            button#task-add(type='submit') Add
    main

      p To see each type of tasks, click on the buttons inside the tabbed menu:
      .tab
        button#defaultOpen.tablinks(onclick="openCity(event, 'Tasks')") Tasks
      #Tasks.tabcontent
        h3 Inprogress Tasks
        p Tasks are not completed storing in this tab.
        ul#task-list


    script(src='./js/main.js')
