doctype html
html
    head
      title To Do List
      meta(name='viewport',content='width=device-width,initial-scale=1.0')
      link(rel='stylesheet', href='./styles/styles.css')
    body
      #mySidenav.sidenav
        a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;
        a(href='index.html') Todo
        a(href='instruction.html') Instruction
    #main
      .app
        header
          .row
            p
              span(style='font-size:24px;cursor:pointer', onclick='openNav()') &#x2630;
          .logo
            img.logo(src='./images/logo.png')
          h2 To Do

    #instruction
        h2 Instruction
        p For editing task name:
        li Click on Edit icon once to focus on input textbox
        li After enter new name, click on Edit icon again to save new name
        
        script.
          function openNav() {
            document.getElementById("mySidenav").style.width = "130px";
            document.getElementById("main").style.marginLeft = "130px";
          }
          function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
          }
    script(src='./js/main.js')
